<html>
<head>
<title>Blank Document</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">
<!-- Optional theme -->
<!--     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
<!-- Current doc CSS -->
<link rel="stylesheet" href="index.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				</br> </br>
				<h2>Admin Portal :</h2>
				</br> </br> </br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1">
				<h4>
					<b>Convert:</b>
				</h4>
			</div>
			<div class="col-xs-2">
				<div class="form-group">
					<input type="text" class="form-control" id="param1">
				</div>
			</div>
			<div class="col-xs-2">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						data-toggle="dropdown">
						Select <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">inch</a></li>
						<li><a href="#">feet</a></li>
						<li><a href="#">meter</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-2">
				<h4>
					<b>to</b>
				</h4>
			</div>
			<div class="col-xs-2">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						data-toggle="dropdown">
						Select <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">inch</a></li>
						<li><a href="#">feet</a></li>
						<li><a href="#">meter</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-1">
				<h4>
					<b>Result:</b>
				</h4>
			</div>
			<div class="col-xs-1">
				<div class="form-group">
					<input type="text" class="form-control" id="param1" disabled>
				</div>
			</div>
		</div>
		<div class="row">
			</br> </br>
			<div class="col-xs-10"></div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-primary">Calculate</button>
			</div>
			<div class="col-xs-1"></div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script
			src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- Current doc JS -->
		<script src="index.js"></script>
</body>
</html>