<html>
<head>
<title>Blank Document</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"></link>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"></link>
<!-- Optional theme -->
<!--     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
<!-- Current doc CSS -->
<link rel="stylesheet" href="index.css"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<br></br> <br> </br>
				<h2>Welcome to Conversion Utilities</h2>
				<br></br> <br></br> <br></br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 ">
				<p>
					Click here :<a href="/measurementConversionPage">Measurement
						Conversion</a>
				</p>
			</div>
			<div class="col-xs-6">
				<p>
					Click here :<a href="/temperatureConversionPage">Temperature
						Conversion</a>
				</p>
			</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script
			src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<!-- Current doc JS -->
		<script src="index.js"></script>
	</div>
</body>
</html>