<html>
<head>
<title>Blank Document</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></link>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"></link>
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"></link>
<!-- Optional theme -->
<!--     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
<!-- Current doc CSS -->
<link rel="stylesheet" href="index.css"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<br></br> <br> </br>
				<h1><b>Welcome to Conversion Utilities</b></h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<br></br>
				<h4>This easy-to-use Conversion Tool is designed to allow you to convert one unit to another unit.</h4><br></br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul>
				  <li type="square"><h5>To convert one measurement unit to another measurement use <b>Measurement Conversion.</b></h5></li>
				  <li type="square"><h5>To convert one temperature unit to another temperature use <b>Temperature Conversion.</b></h5></li>
				</ul>
				<br></br> <br></br> 
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-4 ">
				<p>
					<a href="/measurementConversionPage" > <img src="measurment.png" alt="click here" width="200" height="200" border="1" /></a>
				</p>
				<p>&nbsp;&nbsp;&nbsp;Measurement Conversion</p>
			</div>
			<div class="col-xs-4">
				<p>
					<a href="/temperatureConversionPage"> <img src="temprature.png" alt="click here" width="200" height="200" border="1" /></a>
				</p>
				<p>&nbsp;&nbsp;&nbsp;Temperature Conversion</p>
			</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script
			src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script
			src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</div>
</body>
</html>